.mx-6 {
  margin-left: calc(1rem * 4.5);
  margin-right: calc(1rem * 4.5);
}

.px-6 {
  padding-left: calc(1rem * 4.5);
  padding-right: calc(1rem * 4.5);
}

.mt-n3 {
  margin-top: calc(1rem * -4.5);
}

.no-hover:hover {
  background-color: transparent !important;
}

.image-xxl {
  width: calc(1rem * 7.5);
  height: calc(1rem * 7.5);
}

.primary-bg-c0 {
  background-color: #F2F7FC !important;
}