.mx-6 {
  margin-left: calc(1rem * 4.5);
  margin-right: calc(1rem * 4.5);
}

.px-6 {
  padding-left: calc(1rem * 4.5);
  padding-right: calc(1rem * 4.5);
}

.mt-n3 {
  margin-top: calc(1rem * -4.5);
}

.no-hover:hover {
  background-color: transparent !important;
}

.image-xxl {
  width: calc(1rem * 7.5);
  height: calc(1rem * 7.5);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bg-primary-c0 {
  background-color: #f2f7fc !important;
}

.bg-muted {
  background-color: #f5f5f5 !important;
}
