.otnotice table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.otnotice-menu,
.otnotice-menu-mobile {
  display: none !important;
  visibility: hidden;
}

.otnotice-sections {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1076px;
  width: 100%;
}

.otnotice-section-content {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.otnotice-section {
  font-size: 1.125rem !important;
}

.otnotice p,
ul,
ol,
span {
  font-size: unset !important;
}

.otnotice h1 {
  margin-bottom: 24px !important;
}

.otnotice h2 {
  margin-left: 0 !important;
  margin-top: 40px !important;
  font-size: 1.75rem !important;
  color: inherit !important;
}
