name: "Build & Push"

on:
  push:
    branches:
      - "develop"
    tags:
      - "*"
    paths:
      - "packages/**"
      - "!packages/*/scripts/**"
      - ".github/workflows/build-push.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  find_dockerfiles:
    name: Find Dockerfiles
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.set_packages_output.outputs.packages }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Find packages
        id: set_packages_output
        run: |
          PACKAGES=$(find packages -type f -path "*/Dockerfile" | awk -F'/' '{print $2}' | jq -R -s -c 'split("\n")[:-1]')
          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT

  build_push_image:
    name: ${{ matrix.package }}
    needs: [find_dockerfiles]
    runs-on: ubuntu-latest
    environment: ecr-dev
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.find_dockerfiles.outputs.packages) }}
    env:
        DOCKER_BUILD_SUMMARY: "false"

    steps:
      - name: Checkout repository
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - name: Normalize package name
        id: normalize_package_name
        run: |
          PACKAGE_NAME=$(echo "${{ matrix.package }}" | sed 's/^public-catalog-//')
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.IAM_ROLE_ARN }}
          role-session-name: interop-public-catalog-build-push-${{ github.run_number }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2

      - name: Normalize ref name
        id: norm_ref
        run: |
          set -euo pipefail

          NORM_REF="$(echo ${{ github.ref_name }} | sed -e 's/\//-/g')"
          echo "NORM_REF=$NORM_REF" >> $GITHUB_ENV

      - name: (branch) Docker metadata
        id: meta_branch
        if: ${{ github.ref_type == 'branch' }}
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/interop-public-catalog-${{ env.PACKAGE_NAME }}
          flavor: |
            latest=false
            prefix=
            suffix=
          tags: |
            type=raw,value=${{ env.NORM_REF }}

      - name: (tag) Docker metadata
        id: meta_tag
        if: ${{ github.ref_type == 'tag' }}
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/interop-public-catalog-${{ env.PACKAGE_NAME }}
          flavor: |
            latest=false
            prefix=
            suffix=
          tags: |
            type=ref,event=tag

      - name: Build and push Docker image
        id: build_push
        uses: docker/build-push-action@55146d969b0dff1a5c12630229609757af5b1081
        with:
          context: .
          file: packages/${{ matrix.package }}/Dockerfile
          push: true
          tags: ${{ github.ref_type == 'branch' && steps.meta_branch.outputs.tags || steps.meta_tag.outputs.tags}}
          labels: ${{ github.ref_type == 'branch' && steps.meta_branch.outputs.labels || steps.meta_tag.outputs.labels }}

  build_push_image_tag_only:
    if: ${{ github.ref_type == 'tag' }}
    name: ${{ matrix.package }}
    needs: [find_dockerfiles]
    runs-on: ubuntu-latest
    environment: ecr-prod
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.find_dockerfiles.outputs.packages) }}
    env:
        DOCKER_BUILD_SUMMARY: "false"

    steps:
      - name: Checkout repository
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - name: Normalize package name
        id: normalize_package_name
        run: |
          PACKAGE_NAME=$(echo "${{ matrix.package }}" | sed 's/^public-catalog-//')
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.IAM_ROLE_ARN }}
          role-session-name: interop-public-catalog-build-push-${{ github.run_number }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2

      - name: (tag) Docker metadata
        id: meta_tag
        if: ${{ github.ref_type == 'tag' }}
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/interop-public-catalog-${{ env.PACKAGE_NAME }}
          flavor: |
            latest=false
            prefix=
            suffix=
          tags: |
            type=ref,event=tag

      - name: Build and push Docker image
        id: build_push
        uses: docker/build-push-action@55146d969b0dff1a5c12630229609757af5b1081
        with:
          context: .
          file: packages/${{ matrix.package }}/Dockerfile
          push: true
          tags: ${{ steps.meta_tag.outputs.tags }}
          labels: ${{ steps.meta_tag.outputs.labels }}